.errorStateText {
  border: var(--accent-border);
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-medium);
  background-color: darkslategray;
  -webkit-backdrop-filter: blur(6px) saturate(180%);
  backdrop-filter: blur(6px) saturate(180%);
}