.body {
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--bg-main) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--bg-main) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--bg-main) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--bg-main) / 0.36);

  --accent-border: 2px solid var(--bg-main);
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(
    114deg,
    var(--bg-main) 0%,
    var(--bg-accent-full) 33%,
    var(--bg-main) 66%,
    var(--bg-accent-full) 100%
  );
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
  display: grid;
  grid-template-areas: "overlay";
  justify-content: center;
  align-items: center;
  background-color: var(--bg-main);

  color: var(--card-color);
}

.bgPhoto,
.lyrics {
  grid-area: overlay;

  background-color: var(--bg-main);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--bg-photo);

  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.lyrics {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  word-break: break-all;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 8vh;
  line-height: 0.8;
  letter-spacing: -0.07em;
}

.lyricLine {
  display: inline;
}

.lyricLine:hover {
  color: var(--bg-accent-full);
}

.main {
  grid-area: overlay;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  align-self: center;
  justify-self: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.2rem;
  font-weight: 800;
}

.title,
.description {
  text-align: center;
}

.card,
.footer {
  border: var(--accent-border);
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-medium);

  background-color: var(--bg-accent);
  -webkit-backdrop-filter: blur(6px) saturate(180%);
  backdrop-filter: blur(6px) saturate(180%);
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem 0;
}

.card label {
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.card input {
  border: 0px;
  font-family: Commissioner, Helvetica, sans-serif;
  padding: 0.25rem 0.5rem;
  margin: 0px;
  color: var(--card-color);
  background: var(--bg-card-input);
  border-radius: 4px;
  width: min(100%, 60ch);
}

.track {
  height: 100%;
  width: 100%;
  /* background-clip: text; */
  /* -webkit-bakcground-clip: text; */
}

.footer {
  border: 0;
  border-top: var(--accent-border);
  grid-area: overlay;
  align-self: end;
  font-weight: 800;
  width: 100%;
  padding: 1rem;
  text-align: center;
}
